.navigation-menu { margin-bottom:0; }

.post-title { margin-top: 20px; !important }

.post {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.header__logo::after {
  background: repeating-linear-gradient(90deg, #006d77, #ffcfd2 13px, transparent 0, transparent 10px);
}
